{% import "_includes/forms" as forms %}

{{ forms.checkboxSelectField({
	label: "Sources"|t,
	instructions: "Which sources do you want to see reverse related Entries from?"|t,
	id: 'introvertSections',
	name: 'sections',
	options: sectionOptions,
	values: settings.sections
})}}

{{ forms.textField({
	label: "Amount of relations to show"|t,
	instructions: "How many related elements(per elementtype) are we allowed to show?"|t,
	id: 'amountOfRelations',
	type: 'number',
	name: 'amountOfRelations',
	placeholder: 100,
	size: '5',
	value: settings.amountOfRelations
})}}
